doctype html
html.no-js(lang='en')
  include components/service/_head
  body

    section.top-block-account-opening(style="background-image:url(./i/coin.png);")
      .menu-line
        .row.expanded.top-menu-fluid
          include components/jtc/_xxlarge-menu
      .top-block-account-opening__line
        .gradient-line.show-for-xxlarge
      .row.columns
        h3.top-block-account-opening-header__title Bitcoin
        p.top-block-account-opening-header__desc
          | Первая криптовалюта в мире и новый популярный инструмент для инвестирования.
          br
          strong Just2Trade
          |  предоставляет возможность инвестирования в
          =" "
          strong Bitcoin
          |  своим клиентам

    include components/jtc/_contact-buttons

    block page

    section
      .row.columns
        h2 Преимущества bitcoin
        p.coin
          | Работая с Bitcoin через Just2Trade,
          br
          strong вы получаете:
      .row.large-up-5.medium-up-3.small-up-2.text-center.large-collapse
        .columns.commission
          .commission__img
            img(src="./images/savings.svg", alt="")
          div
            strong Отсутствие
            br
            | брокерской комиссии    
        .columns.commission
          .commission__img
            img(src="./images/shield.svg", alt="")
          div
            strong Страхование счетов
            br
            | на
            =" "
            strong 20 000
            |  евро  
        .columns.commission
          .commission__img
            img(src="./images/credit-card.svg", alt="")
          div
            | Кредитное плечо
            br
            strong 1:3   
        .columns.commission
          .commission__img
            img(src="./images/exchange.svg", alt="")
          div
            | Привлекательные
            br
            strong торговые условия
        .columns.commission
          .commission__img
            img(src="./images/scale.svg", alt="")
          div
            | Регулируется европейским
            br
            strong законодательством
            
    .potency(style="background-image:url(./i/potency.png);")  
      .row
        .columns
          h2 Инвестиционный потенциал
        .large-10.columns.end
          | В первые три года после появления стоимость Bitcoin увеличилась в
          =" "
          strong 330 раз.
          br
          | Находясь на волне популярности, Bitcoin может принести своим потенциальным инвесторам
          =" "
          strong ощутимую прибыль
    section.pb0
      .row.columns
        h2.mb55 Динамика роста популярности
        .dynamics
          .dynamics__block
            | В первые три года после появления стоимость
            =" "
            strong Bitcoin 
            |  увеличилась в&#160;
            strong 330
            | &#160;раз
          p
            img(src="./i/dynamics.png", alt="")
          p
            | Находясь на волне популярности,
            =" "
            strong биткоин
            |  может принести своим потенциальным инвесторам ощутимую прибыль  
    include components/jtc/_account-opening_block
    
    
    section.investment-strategy
      .row.column
        h3.investment-strategy__title Топ 5 стратегий
        p.investment-strategy__desc Предлагаем 5 самых популярных стратегий
          br.hide-for-small-only
          | которые помогут Вам сделать выбор
        .table-scroll
          .rating-pamm-table 
              .rating-pamm-table__caption.hide-for-small-only [ Доходность ]
              .rating-pamm-table__row
                  each item in ['Стратегия', 'График доходности', 'Всего', 'В месяц', 'Максимальная просадка', 'Средства', 'Возраст, дней', 'Комиссия']
                      .rating-pamm-table__th= item
                  .rating-pamm-table__th
              .rating-pamm-table__row
                  .rating-pamm-table__cell
                      span.text-blue.text-bold Red Dragon
                      br
                      |USD
                  .rating-pamm-table__cell
                      img(src='i/schedule-red-dragon.svg' alt="")
                  .rating-pamm-table__cell
                      |+15%
                  .rating-pamm-table__cell.text-green
                      |+1572%
                  each item in ['23.3%', '130700', '18', '25%']
                      .rating-pamm-table__cell= item
                  .rating-pamm-table__cell
                      a(href="#").button.button_no-margin.hollow.green-hollow.text-green.rating-pamm-table__btn Инвенстировать
              .rating-pamm-table__row
                  .rating-pamm-table__cell
                      span.text-blue.text-bold Poseidon
                      br
                      |USD
                  .rating-pamm-table__cell
                      img(src='i/schedule-poseidon.svg' alt="")
                  .rating-pamm-table__cell
                      |+11%
                  .rating-pamm-table__cell.text-green
                      |+1012%
                  each item in ['22.1%', '120500', '12', '25%']
                      .rating-pamm-table__cell= item
                  .rating-pamm-table__cell
                      a(href="#").button.button_no-margin.hollow.green-hollow.text-green.rating-pamm-table__btn Инвенстировать
              .rating-pamm-table__row
                  .rating-pamm-table__cell
                      span.text-blue.text-bold Ascent
                      br
                      |USD
                  .rating-pamm-table__cell
                      img(src='i/schedule-ascent.svg' alt="")
                  .rating-pamm-table__cell
                      |+18%
                  .rating-pamm-table__cell.text-green
                      |+852%
                  each item in ['20.0%', '120320', '11', '25%']
                      .rating-pamm-table__cell= item
                  .rating-pamm-table__cell
                      a(href="#").button.button_no-margin.hollow.green-hollow.text-green.rating-pamm-table__btn Инвенстировать
              .rating-pamm-table__row
                  .rating-pamm-table__cell
                      span.text-blue.text-bold Forex Empire
                      br
                      |USD
                  .rating-pamm-table__cell
                      img(src='i/schedule-forex-empire.svg' alt="")
                  .rating-pamm-table__cell
                      |+14%
                  .rating-pamm-table__cell.text-green
                      |+1252%
                  each item in ['21.0%', '128320', '10', '25%']
                      .rating-pamm-table__cell= item
                  .rating-pamm-table__cell
                      a(href="#").button.button_no-margin.hollow.green-hollow.text-green.rating-pamm-table__btn Инвенстировать
              .rating-pamm-table__row
                  .rating-pamm-table__cell
                      span.text-blue.text-bold Neural network signals
                      br
                      |USD
                  .rating-pamm-table__cell
                      img(src='i/schedule-neural-network-signals.svg' alt="")
                  .rating-pamm-table__cell
                      |+11%
                  .rating-pamm-table__cell.text-green
                      |+1050%
                  each item in ['20.0%', '110320', '8', '25%']
                      .rating-pamm-table__cell= item
                  .rating-pamm-table__cell
                      a(href="#").button.button_no-margin.hollow.green-hollow.text-green.rating-pamm-table__btn Инвенстировать
        a(href='#').top-block-investment__btn.top-block-investment__btn_strategy Посмотреть все стратегии

    
    include components/corporate/_footer
    include components/service/_js.html
