extends components/_regular
include components/mixins/_mixin-product-tile

block content
    // Data
    include components/shop/_cart-data

    .row.column
        h1.section-header Оформление заказа


    .row
        .small-12.medium-10.medium-centered.column.content-form
            form#user-account-form(data-toggler='show-corporate-data' action='order-confirmation.html')
                fieldset.fieldset
                    legend Информация о покупателе

                    //-fieldset
                        input#user-private(type='radio' name='usertype' data-toggle='user-account-form' value='user[private]' checked required)
                        label(for='user-private') Физ. лицо
                        input#user-corporate(type='radio' name='usertype' data-toggle='user-account-form' value='user[corporate]' required)
                        label(for='user-corporate') Юр. лицо
                        br

                    h5.user-account-form_corporate-data
                        b Персональные данные

                    .row
                        .column.small-12.medium-6.end
                            label Контактный телефон *
                            input(type='text' required)

                    .row
                        .column.small-12.medium-6
                            label Имя *
                            input(type='text' required)
                        .column.small-12.medium-6
                            label Фамилия *
                            input(type='text' required)

                    //-.user-account-form_corporate-data
                        label Должность
                        input(type='text')

                    .row
                        .column.small-12.medium-6
                            label Электронная почта *
                            input(type='email' required)

                            label
                                input(type='checkbox')
                                | Подписаться на новости и скидки
                        .column.small-12.medium-6
                            p.help-text
                                br
                                | На этот адрес придёт информация о заказе.
                                br
                                | Адрес электронной почты будет вашим логином, если захотите сохранить свои данные на сайте.


                fieldset.fieldset
                    legend Способ доставки
                    label
                        input(type='radio' name='deliverytype' data-toggle='checkout-form__delivery' required checked)
                        | &#160; Доставка почтой России — 400 руб.
                    label
                        input(type='radio' name='deliverytype' data-toggle='checkout-form__delivery' required)
                        | &#160; СДЭК — 300 руб.
                    label
                        input(type='radio' name='deliverytype' data-toggle='checkout-form__delivery' required)
                        | &#160; Pony-Express — 800 руб.
                #checkout-form__delivery(data-toggler='show-pickpoints')
                    fieldset.fieldset.checkout-form__delivery-address
                        legend Укажите адрес доставки в России

                        .row
                            .column.small-12.medium-6
                                label Область
                                input(type='text')
                            .column.small-12.medium-6
                                label Город
                                input(type='text')
                        .row
                            .column.small-12.medium-6
                                label Улица
                                input(type='text')
                            .column.small-12.medium-3
                                label Дом, корпус
                                input(type='text')
                            .column.small-12.medium-3
                                label Квартира, офис
                                input(type='text')

                    fieldset.fieldset.checkout-form__delivery-pickpoints
                        legend Выберите пункт самовывоза

                        //-p
                            span.text-dark-gray Списком
                            | &#160;&#160;&#160;
                            a(href='#', title='') На карте

                        label
                            input(type='radio' name='pickpoint')
                            | &#160; Магазин-склад &#160;
                            a(href='#' title='посмотреть на карте') ул. Большая Октябрьская, д. 73
                            | &#160;&#160;
                            span.label.success Можно забрать сегодня
                        label
                            input(type='radio' name='pickpoint')
                            | &#160; Пункт выдачи &#160;
                            a(href='#' title='посмотреть на карте') пр. Машиностроителей, д. 52
                        label
                            input(type='radio' name='pickpoint')
                            | &#160; Пункт выдачи &#160;
                            a(href='#' title='посмотреть на карте') пр. Московский, д. 139Б
                            | &#160;—&#160;
                            span.text-alert Новый!
                            | &#160;&#160;
                            span.label.success Можно забрать сегодня
                        label
                            input(type='radio' name='pickpoint')
                            | &#160; Пункт выдачи &#160;
                            a(href='#' title='посмотреть на карте') ул. Чкалова, д. 32

                fieldset.fieldset
                    legend Способ оплаты

                    label.user-account-form_corporate-data
                        input(type='radio' name='paymenttype')
                        | &#160; Счёт (+ комиссия банка)

                    label
                        input(type='radio' name='paymenttype')
                        | &#160; Наличные
                    p.help-text  При оплате курьеру или самовывозе

                    label
                        input(type='radio' name='paymenttype')
                        | &#160; Банковской картой (ваш бонус 1% от покупки!)
                    p.help-text  Принимаем Visa, MasterCard, PayPal

                fieldset.fieldset
                    legend: b Запомнить вас на сайте?
                    label Пароль
                    input(type='password' placeholder='Придумайте пароль')

                .content
                    h3.inner-header Проверьте состав заказа:

                    each item in data
                        .row
                            .small-10.small-offset-1.medium-offset-0.medium-2.large-2.column
                                p
                                    img.product-tile-thumbnail(src='./images/img5.jpg' alt='Фото товара')
                            .medium-10.large-10.column
                                .row
                                    .small-12.large-5.column
                                        p
                                            a(href='product.html'): b #{item.title}
                                            br
                                            b= item.description
                                            br
                                            | Размер: #{item.size} &#160; Цвет: #{item.color}
                                            //-br
                                            //-span.text-dark-gray Артикул: #{item.sku} &#160; &#160;
                                    .small-12.large-2.column
                                        b #{item.price}&nbsp;руб
                                        if item.discount
                                            span.text-dark-gray &#160;
                                                del.no-wrap.small #{item.discount} руб
                                    .small-6.large-2.column
                                        | #{item.qty}&nbsp;шт
                                    .small-6.large-3.column
                                        p.lead
                                            b =&nbsp;#{item.total}&nbsp;руб

                    p
                        a(href='cart.html', title='') ← Изменить состав заказа в корзине

                //-fieldset.fieldset
                    br
                    h3.text-center
                        | Сохранить ваши данные на сайте?
                        br
                        small будет автозаполнение формы при повторных покупках
                    br

                    .row
                        .small-12.medium-3.large-2.column
                            label.middle Логин
                                | &#160;
                                i.fa.fa-info-circle(data-tooltip title="Email, указанный вверху этой формы" data-click-open="false" data-disable-hover="false")
                        .small-12.medium-9.large-10.column
                            input(type='email' value='username@domain.com' disabled)
                    .row
                        .small-12.medium-3.large-2.column
                            label.middle Пароль
                        .small-12.medium-9.large-10.column
                            input(type='password' placeholder='Придумайте пароль')
                            p.help-text Не менее 8-ми символов. Должны быть латинские буквы и цифры.

                .callout.text-right
                    | Сумма: &#160;
                    b.lead 6 388 руб
                    br

                    | Доставка: &#160;
                    b.lead 0 руб

                    .stat.no-wrap Итого: 6 388 руб

                p.text-right
                    button.button.large.small-expanded Подтвердить заказ
                p.text-right.text-dark-gray Нажимая на кнопку «Подтвердить заказ», вы принимаете условия&#160;
                    a(href='#') публичной оферты
                br
