h6.subheader 6 ближайших новостей с игроком

.grid-x.grid-margin-x.small-up-1.medium-up-3(data-equalizer='recent-news', data-equalize-by-row='true')
    .cell
        .card(data-equalizer-watch='recent-news')
            .card-image
                img(src='i/photo-news.jpg', alt='Фото' style='width:100%;')
            .card-section
                h4.text-center
                  a(href='news-article.html') Соперник – Клуб 
                  br
                  | 0:1
                p Армейцы добились победы в первом матче раунда плей-офф Лиги чемпионов.
                p.text-medium-gray= '15.08.2017 • '
                    a(href='news.html') On road
    .cell
        .card(data-equalizer-watch='recent-news')
            .card-image
                img(src='i/photo-news.jpg', alt='Фото' style='width:100%;')
            .card-section
                h4.text-center
                  a(href='news-article.html') Соперник — Клуб
                  br
                  | стартовые составы
                p Предлагаем вашему вниманию стартовые составы на первый матч раунда плей-офф Лиги чемпионов со швейцарским «Янг Бойз».
                p.text-medium-gray= '15.08.2017 • '
                    a(href='news.html') События
    .cell
        .card(data-equalizer-watch='recent-news')
            .card-image
                img(src='i/photo-news.jpg', alt='Фото' style='width:100%;')
            .card-section
                h4.text-center
                  a(href='news-article.html') Соперник — Клуб
                  br
                  | Представляем главного судью матча
                p Главный судья: Давид Фернандес Борбалан (Испания)
                p.text-medium-gray= '15.08.2017 • '
                    a(href='news.html') Матчи
    .cell
        .card(data-equalizer-watch='recent-news')
            .card-image
                img(src='i/photo-news.jpg', alt='Фото' style='width:100%;')
            .card-section
                h4.text-center
                  a(href='news-article.html') Соперник — Клуб
                  br
                  | Представляем главного судью матча
                p Главный судья: Давид Фернандес Борбалан (Испания)
                p.text-medium-gray= '15.08.2017 • '
                    a(href='news.html') Матчи
    .cell
        .card(data-equalizer-watch='recent-news')
            .card-image
                img(src='i/photo-news.jpg', alt='Фото' style='width:100%;')
            .card-section
                h4.text-center
                  a(href='news-article.html') Соперник — Клуб
                  br
                  | Представляем главного судью матча
                p Главный судья: Давид Фернандес Борбалан (Испания)
                p.text-medium-gray= '15.08.2017 • '
                    a(href='news.html') Матчи
