.row.columns
  .sheet
    table.sheet__table
      tr
        th.sheet__arr.sheet__arr_left(colspan="3").text-left
          a(href="#")
            img(src="./images/left-arr.svg", alt="")
            |Cентябрь
          th.sheet__month Октябрь
        th.sheet__arr.sheet__arr_right(colspan="3").text-right
          a(href="#")  
            |Ноябрь
            img(src="./images/right-arr.svg", alt="")
      tr
        each title in ['ПН','ВТ','СР','ЧТ','ПТ','СБ','ВС',]      
          td.sheet__week.text-center= title
      - var day = 1
      tr
        td.sheet__day 
          .sheet__num= day
          - day++;
          a(href="#").sheet__notice Gerhard Hirsch  Nachfolger Zurich (1/5)
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
          .sheet__notice.sheet__notice_red Gerhard Hirsch  Nachfolger Zurich (1/5)
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
          .sheet__notice.sheet__notice_green Gerhard Hirsch  Nachfolger Zurich (1/5)
      tr
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
          .sheet__notice.sheet__notice_yellow Gerhard Hirsch  Nachfolger Zurich (1/5)
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
        td.sheet__day 
          .sheet__num= day
          - day++;
          
    
