//- .expanded.row
.row
    .large-6.columns.license-info
        h3.license-info__title Лицензированный
            br
            | европейский брокер (CySEC)
        p.license-info__desc FOREX. Драгоценные металлы. Индексы. Сырье. CFD
        p.license-info__buttons
            a.button.button_large(href="#") Начать торговать
            br
            | или открыть &nbsp;
            a(href="#") демо-счет   
    .large-6.columns.quotes
        ul.quotes-header-lists
          each val in ['Bid', 'Ask', 'Spread']
            li.quotes-header-list.text-bold= val

        - var quotesLists = [{one:'EURUSD', two:'1.12204', three:'1.12205', four:'1.1'}, {one:'GBRUSD', two:'1.12203', three:'1.12206', four:'1.1'}, {one:'USDJPY', two:'1.12202', three:'1.12207', four:'1.1'}, {one:'XAUUSD', two:'1.12201', three:'1.12208', four:'1.1'}, {one:'OIL', two:'1.12200', three:'1.12209', four:'1.1'}];

        each item in quotesLists
            ul.quotes-lists
                li.quotes-list.text-bold #{item.one}
                li.quotes-list #{item.two}
                li.quotes-list #{item.three}
                li.quotes-list.text-center #{item.four}
                li.quotes-list.hide-for-small-only
                    a(href='#').button.button_no-margin.hollow.red-hollow.text-redX Продать
                li.quotes-list.hide-for-small-only
                    a(href='#').button.button_no-margin.hollow.green-hollow.text-green Купить
