extends regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Назначения судей
    .grid-container: .grid-x.grid-padding-x
        .cell.small-12.medium-7.large-8

            .content
                .grid-x.grid-padding-x.small-up-1.medium-up-2(data-equalizer='news', data-equalize-by-row='true')
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи плей-офф 7 марта
                                p.text-medium-gray= '15.08.2017 • '
                                    a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 23 января по 7 февраля
                                p.text-medium-gray= '15.08.2017 • '
                                    a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 3 по 19 января
                                p.text-medium-gray= '15.08.2017 • '
                                    a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 26 по 29 декабря
                                p.text-medium-gray= '15.08.2017 • '
                                    a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 15 по 25 декабря
                                p.text-medium-gray= '14.08.2017 • '
                                    a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 7 по 27 ноября
                                p.text-medium-gray= '14.08.2017 • '
                                    a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи плей-офф 7 марта
                                p.text-medium-gray= '15.08.2017 • '
                                a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 23 января по 7 февраля
                                p.text-medium-gray= '15.08.2017 • '
                                a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 3 по 19 января
                                p.text-medium-gray= '15.08.2017 • '
                                a(href='') КХЛ
                    .cell
                        .card(data-equalizer-watch='news')
                            .card-section
                                h4: a(href='news-article.html') Назначение судей и инспекторов на матчи КХЛ с 26 по 29 декабря
                                p.text-medium-gray= '15.08.2017 • '
                                a(href='') КХЛ

            include components/common/_pagination

            .content
                include components/smi/_subscribe

        aside.cell.small-12.medium-5.large-4
            include components/smi/_aside-news-index