extends components/_authorized

block content
    // Data
    include components/shop/_cart-data

    .row.column
        h1 Отложенные товары
        br

    each item in data
        .row
            .small-8.medium-2.column
                p
                    img.product-tile-thumbnail(src='./images/image.svg' alt='Фото товара')
            .small-3.small-offset-1.medium-offset-0.medium-2.medium-push-8.column
                .row
                    .small-12.medium-6.medium-push-6.column.text-center
                        p
                            a(href="" title='Удалить')
                                img(src='./images/delete-circle.svg' style='width: 28px;')
                        p.hide-for-medium &#160;
                    .small-12.medium-6.medium-pull-6.column.text-center
                        p
                            a(href="" title='В корзину')
                                i.fa.fa-2x.fa-shopping-cart
            .small-12.medium-5.large-4.medium-pull-2.column
                p
                    a(href='product.html') #{item.title}
                    br
                    = item.description
                    br
                    | Размер: #{item.size} &#160; Цвет: #{item.color}
                    br
                    span.text-gray Артикул: #{item.sku} &#160; &#160;
            .small-12.medium-3.large-4.medium-pull-2.column
                p
                    span.lead.no-wrap #{item.price} руб
                    if item.discount
                        span.text-dark-gray &#160;
                            del(style='white-space: nowrap') #{item.discount} руб
        p.hide-for-medium &#160;
