.sticky.armchair(data-sticky data-top-anchor="example:top" data-btm-anchor="example:bottom" data-margin-top="11")
    .armchair__box
        a.hide-for-small-only(href="#")
            span.product__mark-label(
                data-tooltip
                tabindex="1"
                data-allow-html="true"
                data-tooltip-class="product__mark-info"
                data-click-open="false"
                title='<div class="grid-x grid-padding-x">\n' +
                '  <div class="cell small-10">\n' +
                '     <img src="./i/acacya.jpg" alt="товар">\n' +
                '  </div>\n' +
                '  <div class="cell small-14"><strong>Комби-перфоратор Metabo KHE 2650<br><span class="text-size-large">2 814 руб.</span></strong></div>\n' +
                '</div>'
                style="left:86%;top:46%;"
            ) +
        a.hide-for-small-only(href="#")
            span.product__mark-label(
                data-tooltip
                tabindex="1"
                data-allow-html="true"
                data-tooltip-class="product__mark-info"
                data-click-open="false"
                title='<div class="grid-x grid-padding-x">\n' +
                '  <div class="cell small-10">\n' +
                '     <img src="./i/acacya.jpg" alt="товар">\n' +
                '  </div>\n' +
                '  <div class="cell small-14"><strong>Лобзик Metabo STEB 65 Quick<br><span class="text-size-large">20 814 руб.</span></strong></div>\n' +
                '</div>'
                style="left:26%;top:56%;"
            ) +
        .armchair__img
            a.main-color-href(href='https://lime-office.ru/uploads/20180813/Akaciya_3.jpg', data-fancybox='gallery')
              img.main-color-src(src='https://lime-office.ru/imagetransform/width_700/uploads/20180813/Akaciya_3.jpg', alt='товар')
