nav.navbar.navbar-default.navbar-fixed-top.header.pony
    .container
        .navbar-header
            button.navbar-toggle.collapsed.header__toggle-button( data-toggle="collapse", data-target="#bs-1",aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.header__logo(href='#')
                img(src="../images/Calhoun_logo_WHITE.svg", alt="Calhoun")  
        .col-md-18.col-md-offset-6.hidden-sm.hidden-xs
            ul.header__ul
                each title in [' 1-800-265-3994', '1-519-934-3037','Get a Quote',' Dealer Login']  
                    li.header__li
                        a.header__li-link(href='#')= title
        .col-md-18.col-md-offset-6.header__rel
            .collapse.navbar-collapse#bs-1
                ul.header__menu
                    li.dropdown.header__menu-li
                        a.dropdown-toggle.header__menu-link(href="#",data-toggle="dropdown", role='button',aria-haspopup="true" ,aria-expanded="false") 
                            |Industries
                            span.caret
                        ul.dropdown-menu.reveal
                            .container.reveal__container
                                .header__row
                                    li.reveal__li
                                        a.reveal__link(href="#") Commercial
                                        ul.reveal__ul
                                            each title in ['Salt & sand','Waste & recycling', 'Fertilizer']
                                                li.reveal__item
                                                    a.reveal__item-link(href="#")= title
                                    li.reveal__li
                                        a.reveal__link(href="#") Commercial
                                        ul.reveal__ul
                                            each title in ['Oil & gas mining','Warehousing', 'Equipment storage']
                                                li.reveal__item
                                                    a.reveal__item-link(href="#")= title                
                                    li.reveal__li
                                        a.reveal__link(href="#") Agricultural
                                        ul.reveal__ul
                                            each title in ['Dairy','Hay storage', 'Implement storage']
                                                li.reveal__item
                                                    a.reveal__item-link(href="#")= title                
                                    li.reveal__li
                                        a.reveal__link(href="#") Recreational
                                        ul.reveal__ul
                                            each title in ['Sports facilities','Entertainment']
                                                li.reveal__item
                                                    a.reveal__item-link(href="#")= title                
                                    li.reveal__li
                                        a.reveal__link(href="#") Equine

                    li.header__menu-li
                        a.header__menu-link(href="#") About us
                    li.header__menu-li
                        a.header__menu-link(href="#") Our buildings
                    li.header__menu-li
                        a.header__menu-link(href="#") Gallery
                    li.header__menu-li
                        a.header__menu-link(href="#") Case studies
                    li.header__menu-li
                        a.header__menu-link(href="#") Contact us
