extends components/_user-reg

block content
  include components/shop/_find-error
  .globus.globus_mini(style="background-image:url(./i/map.png);",data-equalizer-watch)
    .globus__top
      .row
        .large-2.medium-3.columns.text-center.medium-text-left
          p
            a(href="#")
              img(src="./images/logo-maxrest.svg", alt="")
    a(href='#' style='top: 50%; left: 50%;').marker.js-visit-toggle
      img(src="./images/marker-yellow.svg", alt="")
  p
  .row
    .large-8.columns.text-right      
      
  .row
    .large-8.columns.end
      .float-right
        p
        p: a(href='map.html') ← Вернуться на карту 
      h1 Название объекта
        small
          | &#160; &#160;
          a(href='' title='Добавить в избранные'): i.fa.fa-star-o
          | &#160; &#160;
          button.button.hollow.freight(type='button' data-toggle="object-status-dropdown")
            i.fa.fa-lg.fa-times
            = ' Не посещено'
            =" "
            i.fa.fa-chevron-down

    .dropdown-pane#object-status-dropdown(data-dropdown data-auto-focus="true").guest
      ul.menu.vertical
        li
          a(href='')
            i.fa.fa-lg.fa-map-o
            = ' В планах'
        li
          a(href='')
            i.fa.fa-lg.fa-check
            = ' Посещено'
  .content
    .row
      .columns.small-12.medium-5.large-4.medium-push-7.large-push-8.show-for-large
        //-div(style='background: #eee; display: block; padding: 150px 0; position: relative;')
          div.text-center Карта с меткой объекта
          i.fa.fa-3x.fa-map-marker(style='top: 180px; left: 160px; position: absolute;')
      .columns.large-8.large-pull-4
        ul.menu.yand
          block menu-object
            li.active: a(href='object.html') Описание
            li: a(href='object-comments.html') Отзывы (3)
            li: a(href='object-discussion.html') Обсуждение (3)
      
        p

        block object-content
          //-a.float-right(href='add-object.html') Редактировать
          p
            span.fa-lg.text-success
              i.fa.fa-star &#160;
              i.fa.fa-star &#160;
              i.fa.fa-star &#160;
              i.fa.fa-star &#160;
              i.fa.fa-star-o &#160;
            | &nbsp;4.1
          p
            b= 'Категория объекта: '
            | Название категории объекта
          p
            b= 'Адрес объекта: '
            | г. Ярославль, Проспект Ленина, дом 25, 6 этаж, офис 606
          p
            b= 'Время работы: '
            | с 9:00 до 18:00
          p
            b= 'Контактный телефон: '
            | +7 (499) 918-43-57
          p
            b= 'Сайт: '
            a(href='') www.locationwebsite.org
          p
            b Описание объекта
          p Достаточное условие сходимости, следовательно, порождает предел последовательности, откуда следует доказываемое равенство. Однако не все знают, что интеграл от функции, имеющий конечный разрыв изящно переворачивает экспериментальный интеграл Пуассона, что известно даже школьникам. Огибающая отражает нормальный расходящийся ряд, откуда следует доказываемое равенство. Несмотря на сложности, критерий интегрируемости поддерживает многочлен, что и требовалось доказать. Ссылка в тексте. Достаточное условие сходимости концентрирует действительный тройной интеграл, откуда следует доказываемое равенство. Асимптота, конечно, расточительно позиционирует косвенный интеграл Пуассона, как и предполагалось.
          p Непрерывная функция накладывает интеграл Дирихле, что несомненно приведет нас к истине. Сумма ряда, следовательно, переворачивает многомерный график функции, как и предполагалось. Очевидно проверяется, что огибающая позиционирует абстрактный интеграл от функции, обращающейся в бесконечность вдоль линии, что несомненно приведет нас к истине. Постоянная величина специфицирует разрыв функции, дальнейшие выкладки оставим студентам в качестве несложной домашней работы.

          hr
          br
          p: b Администратору:
          p
            a.button(href='') Принять
            | &#160; &#160;
            a.button.alert(href='') Отклонить
          hr
          br
          p
            a(data-open="find-error" title='') 
              strong Нашли неточность в данных? Расскажите
